.calculator {
  width: 300px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.display {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  font-size: 20px;
  text-align: right;
  padding: 10px;
  margin-bottom: 5px;
}
.result {
  font-size: 24px;
  color: #333;
  text-align: right;
  min-height:30px;
}

.calculator-table {
  width: 100%;
  border-collapse: collapse;
}

.calculator-table button {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.calculator-table button:hover {
  background-color: #ddd;
}

.calculator-table td {
  padding: 5px;
}

